<app-layout>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nova Venda</h5>
          <div class="row">
            <div class="form-group col-12">
              <label for="nome"class="control-label">Cliente:</label>

              <select class="form-control" [(ngModel)]="venda.cliente">
                <option [ngValue]="null">Selecione</option>
                <option *ngFor="let cliente of listaClientes" [ngValue]="cliente">{{cliente.nome}}</option>
              </select>

            </div>
          </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Adicionar Produto</h5>
                <div class="row">

                  <div class="form-group col-2">
                      <label for="data"class="control-label">Código:</label>
                      <input type="number" class="form-control" [(ngModel)]="venda.codigo" />
                  </div>

                  <div class="form-group col-5">
                      <label for="aluno"class="control-label">Produto:</label>
                      <select class="form-control" [(ngModel)]="vendaProduto.produto">
                          <option [ngValue]="null">Selecione</option>
                          <option *ngFor="let produto of listaProdutos" [ngValue]="produto">{{produto.nome}}</option>
                      </select>
                  </div>

                  <div class="form-group col-2">
                      <label for="data"class="control-label">Quantidade:</label>
                      <input type="number" class="form-control" [(ngModel)]="vendaProduto.quantidade" />
                  </div>

                  <div class="form-group col-3">
                      <label for="data"class="control-label">Data:</label>  
                      <input type="date" class="form-control" [(ngModel)]="venda.data"/>
                  </div>

                </div>

                <div class="row" style="margin-bottom: 20px;">
                  <div class="col-12">
                      <button *ngIf="this.operacao=='Incluir'" type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="adicionar()">Adicionar</button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Cliente</th>
                          <th>Produto</th>
                          <th>Quantidade</th>
                          <th>Data Venda</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let vendaProduto of venda.listaVentaItem">
                          <td>{{venda.cliente.nome}}</td>
                          <td>{{vendaProduto.produto.nome}}</td>
                          <td>{{vendaProduto.quantidade}}</td>
                          <td>{{venda.data | date: 'dd/MM/yyyy'}}</td>
                          <th><a style="cursor: pointer;" (click)="removerproduto(vendaProduto)">X</a></th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-12">
              <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
              <button type="button" class="btn btn-danger" style="margin-right: 10px;" (click)="voltar()">Cancelar</button>
            </div>
          </div>

        </div>
    </div>
</app-layout>
