<app-layout>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Produto</h5>
            <div class="row">
                <div class="form-group col-12">
                    <label for="nome" class="control-label">Nome:</label>
                    <input type="text" name="nome" class="form-control" (keypress)="pesquisar()" [(ngModel)]="produto.nome">
                    <button type="button" class="btn btn-primary" style="margin-top: 20px;" (click)="pesquisar()">Pesquisar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Observação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let produto of listaProdutos">
                                <th><input type="radio" name="selecionado" (change)="selecionar(produto)"/></th>
                                <th>{{produto.codigo}}</th>
                                <td>{{produto.nome}}</td>
                                <td>{{produto.descricao}}</td>
                                <td>{{produto.valor}}</td>
                                <td>{{produto.observacao}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="remover()">Excluir</button>
                </div>
            </div>

        </div>
    </div>

</app-layout>
