<div class="container">

    <div class="row" style="background-color: #0069d9; margin-bottom: 20px;">
        <div class="col-lg-12">

            <ul class="nav justify-content-center">                
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><h1 style="color: aliceblue;">Sistema de Vendas</h1></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-2">

            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="/cliente">Cliente</a>
                </li> 
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/produto">Produto</a>
                </li> 

                <li class="nav-item">
                    <a class="nav-link" routerLink="/venda">Venda</a>
                </li> 
                
            </ul>
              

        </div>

        <div class="col-10"  style="margin-bottom: 20px;">
            <ng-content></ng-content>
        </div>
    </div>

</div>
