<app-layout>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cliente - {{operacao}} </h5>
            <div class="row">
                <div class="form-group col-12">
                    <label for="nome"class="control-label">Nome:</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" />
                </div>
                <div class="form-group col-12">
                    <label for="dataInicio"class="control-label">CEP:</label>
                    <input type="text" class="form-control" refix="+8" mask="00000-000" placeholder="00000-000" [(ngModel)]="cliente.cep" />
                </div>    
                <div class="form-group col-12">
                    <label for="dataInicio"class="control-label">Endereço:</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.endereco" />
                </div>
                <div class="form-group col-6">
                    <label for="dataInicio"class="control-label">Cidade:</label>
                    <select class="form-control" [(ngModel)]="cliente.cidade">
                        <option [ngValue]="null"selected>Selecione</option>
                        <option *ngFor="let cidade of listaCidades" [ngValue]="cliente.cidade">{{cidade.nome}}</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="dataInicio"class="control-label">UF:</label>
                    <select class="form-control" [(ngModel)]="cliente.uf">
                        <option [ngValue]="null" selected>Selecione</option>
                        <option *ngFor="let estado of listaUF" [ngValue]="cliente.uf">{{estado}}</option>
                    </select>
                </div>
                <div class="form-group col-6">  
                    <label for="dataInicio"class="control-label">Celular:</label>
                    <input type="text" class="form-control" refix="+9" mask="(00) 00000-0000" placeholder="(00) 00000-0000" [(ngModel)]="cliente.telefone" />
                </div>
            </div>            

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-12">
                    <button *ngIf="this.operacao=='Incluir'" type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
                    <button *ngIf="this.operacao=='Alterar'" type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="voltar()">Voltar</button>              
                </div>
            </div>

        </div>
    </div>
</app-layout>