
<app-layout>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Venda</h5>
      <div class="row">
        <div class="form-group col-12">
          <label for="aluno"class="control-label">Vendas efetuadas:</label>

          <select class="form-control" [(ngModel)]="venda.cliente">
            <option [ngValue]="null">Selecione</option>
            <option *ngFor="let cliente of listaClientes" [ngValue]="cliente">{{cliente.nome}}</option>
          </select>

        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Codigo</th>
                <th>Data</th>
                <th>Cliente</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let venda of listaVendas">
                <th><input type="radio" name="selecionado" (change)="selecionar(venda)"/></th>
                <th>{{venda.codigo}}</th>
                <td>{{venda.data | date: 'dd/MM/yyyy'}}</td>
                <td>{{venda.cliente.nome}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="remover()">Excluir</button>
        </div>
      </div>

    </div>
  </div>

</app-layout>
