<app-layout>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Produto - {{operacao}} </h5>
            <div class="row">
                <div class="form-group col-6">
                    <label for="nome"class="control-label">Nome:</label>
                    <input type="text" class="form-control" [(ngModel)]="produto.nome" />
                </div>
                <div class="form-group col-6">
                    <label for="dataInicio"class="control-label">Descricao:</label>
                    <input type="text" class="form-control" [(ngModel)]="produto.descricao" />
                </div>
                <div class="form-group col-6">
                    <label for="dataInicio"class="control-label">Valor:</label>
                    <input type="number" class="form-control" [(ngModel)]="produto.valor" />
                </div>
                <div class="form-group col-12">
                    <label for="dataInicio"class="control-label">Observação:</label>
                    <input type="text" class="form-control" [(ngModel)]="produto.observacao" />
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-12">
                    <button *ngIf="this.operacao=='Incluir'" type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
                    <button *ngIf="this.operacao=='Alterar'" type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="voltar()">Voltar</button>
                </div>
            </div>

        </div>
    </div>
</app-layout>
