<app-layout>

    <div class="card" style="margin-bottom: 40px">
        <div class="card-body">
            <h5 class="card-title">Cliente</h5>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="nome"class="control-label">Nome:</label>
                    <input type="text" class="form-control" (keypress)="pesquisar()" [(ngModel)]="cliente.nome" />
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Endereço</th>
                                <th>Cidade</th>
                                <th>CEP</th>
                                <th>UF</th>
                                <th>Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of listaClientes">
                                <th><input type="radio" name="selecionado" (change)="selecionar(cliente)"/></th>
                                <th>{{cliente.codigo}}</th>
                                <td>{{cliente.nome}}</td>
                                <td>{{cliente.endereco}}</td>
                                <td>{{cliente.cidade}}</td>
                                <td>{{cliente.cep}}</td>
                                <td>{{cliente.uf}}</td>
                                <td>{{cliente.telefone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="incluir()">Incluir</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="alterar()">Alterar</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="remover()">Excluir</button>
                </div>
            </div>

        </div>
    </div>

</app-layout>
